# Data Science with Python: Pandas

Pandas: "Python Data Analysis Library"

Pandas is _THE_ data science library for Python. It's built on top of a variety of very good and very fast numerical computing Python libraries. If you're familiar with R, Pandas was essentially an R clone, although it has developed and grown over the past decade...not to mention that it also bears the power of Python behind it. It's integration with `jupyter notebooks` makes Pandas excel, and allows for the use of documented, repeatable data analysis.

Pandas is entirely Python code, but the syntax doesn't feel quite python-y.


## Agenda

* Series
* DataFrame
* Exploring and visualizing real data
* Extras:
    * `apply` function
    * String Manipulation
    * Categorical values

## How does Pandas compare to...

* SQL: http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html
* SAS: http://pandas.pydata.org/pandas-docs/stable/comparison_with_sas.html
* R: http://pandas.pydata.org/pandas-docs/stable/comparison_with_r.html

In [1]:
import pandas as pd  # only import we'll need!

## Series

Series aren't used directly that frequently, although they're important to understand for use within a DataFrame.

A Series is a single column of data, all of the same type.

In [2]:
# series
s = pd.Series([1, 2, 3, 4, 5, 6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
type(s), s.dtype, len(s), s.shape

(pandas.core.series.Series, dtype('int64'), 6, (6,))

In [4]:
s1 = pd.Series([True, False, False, True])
s1

0     True
1    False
2    False
3     True
dtype: bool

In [5]:
type(s1), s1.dtype, len(s1), s1.shape

(pandas.core.series.Series, dtype('bool'), 4, (4,))

In [6]:
pd.Series([1, True, 's'])

0       1
1    True
2       s
dtype: object

## Viewing Data

One of the most important things is to be able to visualize the data you're working with. Here are a few common functions.

In [7]:
s.head()  # default to length 5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
s.tail(1)

5    6
dtype: int64

In [9]:
s.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

## DataFrames

You can combine multiple series into a single dataframe.

In [10]:
df = pd.DataFrame({
    'A': s,
    'B': ['a', 'b', 'c', 'd', 'e', 'f']
})
df

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f

In [11]:
# note the index added as a primary key
# this is required to make certain calculations -- it will be added automatically
df.index

RangeIndex(start=0, stop=6, step=1)

In [12]:
df.columns

Index(['A', 'B'], dtype='object')

In [13]:
df.head()

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [14]:
df.tail(2)

   A  B
4  5  e
5  6  f

In [15]:
df.describe()

              A
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [16]:
df.describe(include='all')

               A    B
count   6.000000    6
unique       NaN    6
top          NaN    f
freq         NaN    1
mean    3.500000  NaN
std     1.870829  NaN
min     1.000000  NaN
25%     2.250000  NaN
50%     3.500000  NaN
75%     4.750000  NaN
max     6.000000  NaN

In [17]:
type(df), len(df), df.shape

(pandas.core.frame.DataFrame, 6, (6, 2))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
A    6 non-null int64
B    6 non-null object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [19]:
df.T

   0  1  2  3  4  5
A  1  2  3  4  5  6
B  a  b  c  d  e  f

In [20]:
df.sort_values(by='B', ascending=False)

   A  B
5  6  f
4  5  e
3  4  d
2  3  c
1  2  b
0  1  a

In [21]:
# select a column
df.A

0    1
1    2
2    3
3    4
4    5
5    6
Name: A, dtype: int64

In [22]:
df['B']

0    a
1    b
2    c
3    d
4    e
5    f
Name: B, dtype: object

## Use Real Data

DataFrames can be read from just about any data source you want: http://pandas.pydata.org/pandas-docs/stable/io.html

They can be written to the same list...except the proprietary SAS7BDAT format.

In [23]:
proj_df = pd.read_csv('io/Projects.csv', engine='python')  # dataset available on kaggle/donorschoose

In [24]:
proj_df.shape

(1110017, 18)

In [25]:
proj_df.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,25,Teacher-Led,Stand Up to Bullying: Together We Can!,Did you know that 1-7 students in grades K-12 ...,Did you know that 1-7 students in grades K-12 ...,"My students need 25 copies of ""Bullying in Sch...",Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,3,Teacher-Led,Learning in Color!,"Help us have a fun, interactive listening cent...","Help us have a fun, interactive listening cent...","My students need a listening center, read alon...","Applied Learning, Literacy & Language","Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,1,Teacher-Led,Help Second Grade ESL Students Develop Languag...,Visiting or moving to a new place can be very ...,Visiting or moving to a new place can be very ...,My students need beginning vocabulary audio ca...,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,40,Teacher-Led,Help Bilingual Students Strengthen Reading Com...,Students at our school are still working hard ...,Students at our school are still working hard ...,My students need one copy of each book in The ...,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,2,Teacher-Led,Help Us Make Each Minute Count!,"""Idle hands"" were something that Issac Watts s...","""Idle hands"" were something that Issac Watts s...","My students need items such as Velcro, two pou...",Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01

In [26]:
proj_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110017 entries, 0 to 1110016
Data columns (total 18 columns):
Project ID                          1110017 non-null object
School ID                           1110017 non-null object
Teacher ID                          1110017 non-null object
Teacher Project Posted Sequence     1110017 non-null int64
Project Type                        1110017 non-null object
Project Title                       1110011 non-null object
Project Essay                       1110016 non-null object
Project Short Description           1110014 non-null object
Project Need Statement              1110014 non-null object
Project Subject Category Tree       1109988 non-null object
Project Subject Subcategory Tree    1109988 non-null object
Project Grade Level Category        1110017 non-null object
Project Resource Category           1109981 non-null object
Project Cost                        1110017 non-null float64
Project Posted Date                 1110017 non-null object
Project Expiration Date             1110003 non-null object
Project Current Status              1110017 non-null object
Project Fully Funded Date           826764 non-null object
dtypes: float64(1), int64(1), object(16)
memory usage: 152.4+ MB

In [27]:
# project cost > $1000
proj_df['Project Cost']

0           361.80
1           512.85
2           435.92
3           161.26
4           264.19
5           175.15
6          3020.59
7           566.19
8           339.20
9           566.73
10          400.19
11          314.33
12          580.02
13          294.60
14          494.13
15          897.28
16          605.87
17          861.18
18          452.05
19          696.60
20          231.60
21          662.84
22          193.19
23          980.35
24          322.35
25          490.38
26          559.99
27          327.44
28          300.88
29          175.06
            ...
1109987     601.00
1109988    1277.08
1109989     197.67
1109990     194.06
1109991     340.02
1109992     326.33
1109993    4811.76
1109994     188.12
1109995     339.20
1109996     211.54
1109997     347.40
1109998     294.58
1109999     654.15
1110000     522.95
1110001     894.15
1110002     935.88
1110003     167.01
1110004     400.67
1110005    4790.60
1110006     445.20
1110007    1184.53
1110008     215.87
1110009     367.14
1110010     533.21
1110011     233.15
1110012     633.84
1110013     626.24
1110014     193.13
1110015     246.18
1110016     578.16
Name: Project Cost, Length: 1110017, dtype: float64

In [28]:
proj_df['Project Cost'] > 1000

0          False
1          False
2          False
3          False
4          False
5          False
6           True
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1109987    False
1109988     True
1109989    False
1109990    False
1109991    False
1109992    False
1109993     True
1109994    False
1109995    False
1109996    False
1109997    False
1109998    False
1109999    False
1110000    False
1110001    False
1110002    False
1110003    False
1110004    False
1110005     True
1110006    False
1110007     True
1110008    False
1110009    False
1110010    False
1110011    False
1110012    False
1110013    False
1110014    False
1110015    False
1110016    False
Name: Project Cost, Length: 1110017, dtype: bool

In [29]:
# we can use this as a filter
proj_df[proj_df['Project Cost'] > 1000]

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
6,717c7a01215d532d68f6fe9e666c88c3,14a4351014125e8a4376c2aac594526d,dd9c029f01a66f862b4d1c209eaa4451,3,Teacher-Led,Experiencing India,Travel and hands on experiences outside the cl...,Travel and hands on experiences outside the cl...,My students need additional funding to finance...,Applied Learning,"College & Career Prep, Community Service",Grades 9-12,Trips,3020.59,2013-01-01,2013-05-27,Fully Funded,2013-01-05
44,b6be9d285565584e34b1d3d4e2c573c0,d17c80f26e260dddb5854304370df76c,c89df7db975ff3099178fcc5a5193f1c,2,Teacher-Led,Chromebooks Needed to Enhance New FIRST Roboti...,Do you remember your first computer? Those hug...,Do you remember your first computer? Those hug...,My students need 12 Chromebooks for new Roboti...,"Math & Science, Applied Learning","Applied Sciences, College & Career Prep",Grades 6-8,Technology,1552.44,2013-01-01,2013-05-30,Expired,NaN
72,6efd90896f8d7e19a9c57fdc058ffd3b,b7c32bc8478e591d8e2e515da2c8708f,a8c0a573351d6b4ed100d405980dc769,3,Teacher-Led,Document Student Work With Epson,Mathematics in the middle grades has a tendenc...,Mathematics in the middle grades has a tendenc...,"My students need an Epson document scanner, no...",Math & Science,Mathematics,Grades 6-8,Technology,1028.92,2013-01-01,2013-01-30,Fully Funded,2013-01-04
76,15356ab77b93b15e45e05f5764449f9c,a1c8f567724ec219668406d5800bef16,71b15fcb955ebfbc15d614a116c78422,3,Teacher-Led,Experiencing Ionic and Covalent Bonds,How atoms bond with each other and how the res...,How atoms bond with each other and how the res...,My students need models which will help them f...,"Math & Science, Literacy & Language","Applied Sciences, ESL",Grades 9-12,Other,1274.94,2013-01-01,2013-05-31,Expired,NaN
84,4a4e2c669dfabf17de471ccc64a28df7,e46d9f4a069d97684c818d1fd7f56a1b,cda43dabf58e4b2d1a0cea3a3e835e2d,3,Teacher-Led,Hands-On Math,"As a six year old, do you remember learning ab...","As a six year old, do you remember learning ab...",My students need hands-on math manipulatives a...,Math & Science,Mathematics,Grades PreK-2,Supplies,1021.20,2013-01-01,2013-05-30,Fully Funded,2013-01-08
85,e1bb9b68a9fa8d3a51ae9a129f9365e7,799448cf0fbca7d59dfdb9aec6c1f86d,8ce72df217952bb64693da12d848db15,3,Teacher-Led,Let's Get Moving!,When I received the notification from our scho...,When I received the notification from our scho...,My students need a variety of indoor P.E. cent...,Health & Sports,"Gym & Fitness, Health & Wellness",Grades PreK-2,Supplies,1009.44,2013-01-01,2013-05-31,Expired,NaN
87,4bb25472fe73026e610b635cd0642037,81a5ab1f688b70c3f0571a8b7f03588d,453b40cc9c22b7e11a41745e516941b8,1,Teacher-Led,"Getting Our ""Hands-On"" Math And Reading!","Each day, my 24 kindergarteners work diligentl...","Each day, my 24 kindergarteners work diligentl...",My students need games and manipulatives that ...,"Literacy & Language, Math & Science","Literacy, Mathematics",Grades PreK-2,Supplies,1033.53,2013-01-01,2013-05-30,Fully Funded,2013-01-01
94,c76de264e1e2a95be0e93db08a6cfefa,ca49c06a6c3335c8be99f4a289c7102e,a71e8076dbba65ed1176c7f872491d7a,16,Teacher-Led,Serious PLAY,"When I give my 3rd graders a Lego challenge, t...","When I give my 3rd graders a Lego challenge, t...",My students need Legos to express their learni...,"Math & Science, Literacy & Language","Environmental Science, Literacy",Grades 3-5,Other,1023.67,2013-01-01,2013-05-31,Expired,NaN
103,dd0348a5b0980ff6d7db5a39911b183d,fd0ad601764815a21218a811c8a148bb,691c8675017ddfeb3367e5ba901290be,11,Teacher-Led,Special Techies,Think back to when you were in school and the ...,Think back to when you were in school and the ...,My students need 2 Apple IPADs to assist them ...,"Literacy & Language, Special Needs","Literature & Writing, Special Needs",Grades 3-5,Technology,1087.04,2013-01-01,2013-05-31,Fully Funded,2013-05-07
119,109030ad43ccf26a52dd4a110b7b2535,31d9e9d8e769137fb9ea5f96d99ca2c5,2bad8965ce82e963e5079644d7423c1c,10,Teacher-Led,English Language Listeners!,There are so many different ways to learn how ...,There are so many different ways to learn how ...,My students need audio books to read at their ...,Literacy & Language,"ESL, Literacy",Grades PreK-2,Books,1017.40,2013-01-01,2013-05-30,Fully Funded,2013-03-11
126,52bf3c407f34474d8e11bcf2eb056ffa,4acace689e04f1653717409a3501b2f8,28fc48be7baed24d7588363cdbd15a85,11,Teacher-Led,Learning Through ACTING!,"Do you remember when you used to do a ""class p...","Do you remember when you used to do a ""class p...",My students need to have their voices heard. ...,"Literacy & Language, Music & The Arts","Literacy, Performing Arts",Grades PreK-2,Visitors,6483.53,2013-01-01,2013-03-02,Fully Funded,2013-01-06
130,cd5cce939cf0234b430929381e72f1f4,ad87b7bd039150a84e01816e868446af,d24347fdee199ae9395ad44484e1caf7,40,Teacher-Led,Dream Dancing!,How do you ENGAGE and EXCITE urban sixth grade...,How do you ENGAGE and EXCITE urban sixth grade...,My students need to take DANCE LESSONS!,Music & The Arts,"Music, Performing Arts",Grades 3-5,Visitors,1468.24,2013-01-01,2013-05-30,Fully Funded,2013-01-10
142,1dc7bce190c30ee64f820b3add856d69,514344142aa495408004f905864e550a,067da764aed85a2a0fff12eb3cce323d,23,Teacher-Led,Classroom Makeover!,We need new tables and chairs to help create a...,We need new tables and chairs to help create a...,My students need new tables and chairs.,Applied Learning,Early Development,Grades PreK-2,Supplies,1906.36,2013-01-01,2013-05-31,Fully Funded,2013-05-10
150,11a08c6953909210bbf67d3bc4f5646b,49a6a7326fcc41b5c41f79829d5c8885,b2d1972f8b6d454389ca645602e5ebf5,25,Teacher-Led,"Projection, Projection! ""That's Our Mission"".","Mission not impossible contacting, EPSON! Rem...","Mission not impossible contacting, EPSON! Reme...",My students need Epson PowerLite S11 LCD proje...,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Grades PreK-2,Technology,1078.89,2013-01-01,2013-05-31,Expired,NaN
157,d5df9de216857f726d25260189b6452f,a1820d4794bd432361b3943facdf7721,5255d4f240b1b4f37726613580444f35,13,Teacher-Led,Animate This: Digital Storytelling!,BRING ART TO LIFE by helping me to teach anima...,BRING ART TO LIFE by helping me to teach anima...,"My students need materials to study animation,...","Applied Learning, Music & The Arts","College & Career Prep, Visual Arts",Grades 9-12,Technology,1044.14,2013-01-01,2013-05-31,Expired,NaN
160,cdcb758e9ca00c30d610eaff7d046697,dc3a7f35dc5fa834eadf02f7488dd42d,8d1b87772698d7a8b9094882fb4dc727,6,Teacher-Led,The Show Me Costa Rica Project,Have you ever had the opportunity to travel an...,Have you ever had the opportunity to travel an...,My students need trip insurance through Educat...,"Math & Science, Special Needs","Applied Sciences, Special Needs",Grades 9-12,Trips,1420.47,2013-01-01,2013-01-25,Fully Funded,2013-01-09
167,08c3103c24454bab3ea022342f84c649,40bf862ba2f8cc98e5cc9b5ac18ed3fb,628bc9e7907d7505683e688706d952f7,56,Teacher-Led,Fabulous Findings From Fourth Graders,"""To myself I am only a child playing on the be...","""To myself I am only a child playing on the be...",My students need an Apple MacBook Pro laptop c...,"History & Civics, Literacy & Language","History & Geography, Literacy",Grades 3-5,Technology,2913.28,2013-01-01,2013-05-30,Expired,NaN
192,29c90b3e8b2ee14890988f3c803a39c5,b4f9ca5d74f6f53634b4e5bc7a983059,e17acc4673e12fb658fa34048083f391,4,Teacher-Led,Make It Bigger!,Were you ever unable to accomplish a task beca...,Were you ever unable to accomplish a task beca...,My students need an Elmo document camera to ma...,"Literacy & Language, Math & Science","Literacy, Mathematics",Grades PreK-2,Technology,1047.04,2013-01-01,2013-05-30,Fully Funded,2013-05-24
193,006fb95c63fe9baedf6754b62e520e94,356d99580221ae5036342d8a720e9192,a442e837d3f19ba7f925ecc4c88d4e50,2,Teacher-Led,Presentations Are Better Than Words!,The challenge facing my students is that the l...,The challenge facing my students is that the l...,My students need a laptop computer to enrich t...,History & Civics,History & Geography,Grades 6-8,Technology,1482.34,2013-01-01,2013-05-30,Fully Funded,2013-01-16
215,1c881907df41326b32b96faa49214e86,40bf862ba2f8cc98e5cc9b5ac18ed3fb,628bc9e7907d7505683e688706d952f7,57,Teacher-Led,Reserarchers Review Findings,"""To myself I am only a child playing on the be...","""To myself I am only a child playing on the be...",My students need a TV and stand.,"History & Civics, Literacy & Language","History & Geography, Literacy",Grades 3-5,Technology,1077.79,2013-01-01,2013-05-30,Expired,NaN
280,94c4f1967403eb9a11d255cc4fdd7a8a,4c21743699820727e2241c86faf8812c,395e1f98e6f6adf976250a2020f94900,1,Teacher-Led,Chromebook Funding!,Imagine having the creative power of the Inter...,Imagine having the creative power of the Inter...,My students need 8 Chromebooks to more fully u...,History & Civics,History & Geography,Grades 9-12,Technology,1066.29,2013-01-02,2013-05-31,Fully Funded,2013-01-04
289,b68a6f552c9024f5e4e34dc5b9363d1d,a83ca53b3b88d622a8091b5c65bf6c0e,ff52e40442e2329bb5c780c88c64c66c,6,Teacher-Led,Interactive Technology for Geometry,Technology is not usually associated with geom...,Technology is not usually associated with geom...,My students need a class set of TI-Npire CX ca...,Math & Science,Mathematics,Grades 9-12,Technology,8681.69,2013-01-02,2013-05-31,Expired,NaN
322,bb465e80ab429dc684e4444687e55f75,81a5ab1f688b70c3f0571a8b7f03588d,f18b018ad28ae053d10d5fd0b3841882,2,Teacher-Led,Superhero Students Need a More Powerful Resour...,Do you remember falling in love with reading? ...,Do you remember falling in love with reading? ...,"My students need a leveled library, made up of...","Literacy & Language, Math & Science","Literacy, Mathematics",Grades 3-5,Books,1062.61,2013-01-02,2013-05-31,Fully Funded,2013-01-02
325,787a297390730b83d31a247580f67967,b32e72c9b71ebd3cb3daaa4d8513fd88,baae4acb28db99b3d1fa2679923bf308,10,Teacher-Led,"Compression, Stat!",Have you ever gone to a busy mall on the day a...,Have you ever gone to a busy mall on the day a...,My students need weighted vests and other equi...,Special Needs,Special Needs,Grades PreK-2,Supplies,1160.01,2013-01-02,2013-06-01,Expired,NaN
335,0599c5909778fe34fb51fe4b8b01c130,57238ac5ae6ca7138e4bf10a7968ec21,b8e6c17b5ac889cae9215b98c5b1b7cd,1,Teacher-Led,Supercar Shootout,My students see school as boring. Like many st...,My students see school as boring. Like many st...,My students need 28 solar car kits to stimulat...,Math & Science,"Applied Sciences, Mathematics",Grades 6-8,Supplies,1054.54,2013-01-02,2013-06-01,Fully Funded,2013-05-30
360,a895d0f710d06b319f7ccd3bdfcf1394,7990a0c6ea526a581413ac0102b187df,46da5e4c54dc9ed7470a324055d22670,5,Teacher-Led,Hurricane Sandy Can't Take Away Our Love Of Re...,Hurricane Sandy destroyed our classroom. We lo...,Hurricane Sandy destroyed our classroom. We lo...,My students need an Early Literacy Single Stud...,Literacy & Language,Literacy,Grades PreK-2,Books,1772.61,2013-01-02,2013-06-01,Fully Funded,2013-01-04
370,78da784d377a123a091bf3618f882c3d,2cb0f73677c66846bfaaa629e427dea7,32a1c4921967fe3a5f3400b94cdcb34e,7,Teacher-Led,Exploring Science Systems with Epson!,Let's bug out to science! Seeing is believing!...,Let's bug out to science! Seeing is believing!...,"My students need live beetles, butterflies, a ...",Math & Science,Health & Life Science,Grades 3-5,Other,1037.44,2013-01-02,2013-06-01,Fully Funded,2013-02-21
394,acb04a56000ee9e081e6134d62412faa,887506b61a8bef0d62bfae89e15497c5,8b973052c5060365ded32dc7368ad3ed,1,Teacher-Led,Chromebooks for Learning,The education of all of our students in the Un...,The education of all of our students in the Un...,My students need Chromebooks for use in the cl...,Literacy & Language,"ESL, Literature & Writing",Grades PreK-2,Technology,1581.79,2013-01-02,2013-05-28,Expired,NaN
395,04a068322915b71d0b728d7629ec16c8,cf6e4025f55197ccd72f39b95837097d,9b6a0e4a352952e4e689d5f62b486e06,9,Teacher-Led,Physics Students Need iPads to Read Teacher's ...,All students love using technology like cell p...,The next big step in education is when teacher...,My students need iPads so they can read the ph...,Math & Science,"Applied Sciences, Mathematics",Grades 9-12,Technology,14634.78,2013-01-02,2013-05-31,Expired,NaN
416,db58a0074eb2fe243a8ae531892a0a5b,aba1a0abe6a7bac3559f918d4af43bc5,1db3d3c6ff0a1f56105d9cb58b3086eb,13,Teacher-Led,Help Our Band Get To Disneyland for the First ...,I want to share with my students the joy of pe...,I want to share with my students the joy of pe...,My students need to fundraise money so that th...,Music & The Arts,"Music, Performing Arts",Grades 6-8,Trips,12216.01,2013-01-03,2013-04-18,Expired,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109852,fe15eb843d956053ef08d6ec69a9921f,e9a7d445fc991f1b92c4e9b596d57a8a,843b1ef04f1df8b96047e5458b0e35ab,4,Teacher-Led,Cozy Classroom Library,I am a fourth grade teacher and have forty-fo...,I am a fourth grade teacher and have forty-fou...,My students need a place in the classroom that...,Literacy & Language,"Literacy, Literature & Writing",Grades 3-5,"Reading Nooks, Desks & Storage",1212.47,2018-05-01,2018-09-01,Live,NaN
1109855,c1721eed88ab88f679cb7a5801d3324e,46940b72051319c7380bec602f6cd1c9,7e24e734aa4808970e1241e68962b8a4,7,Teacher-Led,Giving Students the Power of Choice through Fl...,I teach at a Title I school where all students...,I teach at a Title I school where all students...,My students need flexible seating choices with...,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Grades 3-5,"Reading Nooks, Desks & Storage",2263.92,2018-05-01,2018-09-01,Live,NaN
1109874,71d9da6b522f6ff6be5312e6f4d10c0e,858169fb696c8b6988288480f62fb7b2,c48d71373f99282e4e0a75af076d1d73,1,Professional Development,Orton Gillingham Training,My school is a Title I school with 100% of stu...,My school is a Title I school with 100% of stu...,I need Orton Gillingham training to support my...,Literacy & Language,Literacy,Grades 3-5,Trips,1438.38,2018-05-01,2018-06-01,Live,NaN
1109876,408a925cc4ec2b7a11396cc0be95438b,6a16bbcc789f3fa70f81412210496af6,3532cda61fa07c6bdd210b4fa8a5c65b,4,Teacher-Led,Pick a Spot: New Tables!,My 3rd-grade students are big thinkers who ask...,My 3rd-grade students are big thinkers who ask...,My students need new tables for defined spaces...,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Grades 3-5,"Reading Nooks, Desks & Storage",2222.92,2018-05-01,2018-08-30,Live,NaN
1109880,a5df9f7d310dfe67adc3da95ac6d7bc2,28c7f20712d6a62196b84a92b822e02a,2bcc2b951a40bb46db826d32196fbae0,17,Teacher-Led,Visions Created in 3D!,Our students have not experienced success in t...,Our students have not experienced success in t...,My students need a 3D printer with extra filam...,Math & Science,Applied Sciences,Grades 9-12,Instructional Technology,3171.54,2018-05-01,2018-08-30,Live,NaN
1109886,2c5be5e86bbfc83c36e72b7fc657d41f,a08a888045dc58ad28c8658b30f77d9b,2c10c408db95d2b5a5997554d30001cb,1,Teacher-Led,Flexible Seating and Beyond!,Room 13 is a special place. My typical student...,Room 13 is a special place. My typical student...,My students need comfortable seating options. ...,Health & Sports,Health & Wellness,Grades 3-5,"Reading Nooks, Desks & Storage",1322.48,2018-05-01,2018-08-30,Live,NaN
1109887,99cfb43277d3e92f8652bdfafa5e2f8c,aab46daefbf7a3a2a694f331b11219cc,00a52b59c93c4a5e4fd628636c5ffd7e,7,Teacher-Led,Tigers Need Flexible Seating,My classroom is filled with preschool-aged stu...,My classroom is filled with preschool-aged stu...,My students need alternative seating options l...,"Applied Learning, Special Needs","Early Development, Special Needs",Grades PreK-2,"Reading Nooks, Desks & Storage",1672.93,2018-05-01,2018-08-30,Live,NaN
1109890,4f8e9af4df718210b6646f9281b42439,a0127073f690a7b82bf83d89879b3ae0,7724deaab98cc358e28f959d3b13a9c7,9,Student-Led,For the Love of Music,The amazing students submitting this project a...,The amazing students submitting this project a...,"We need bows, rosin, metronome/tuners, a paper...",Music & The Arts,Music,Grades 6-8,Musical Instruments,2015.92,2018-05-01,2018-09-01,Live,NaN
1109916,d3c41f22950f5ef7412809695c08689f,2163036a7c1d3e9231891734f5262f2f,f48b810826b800b64eb0159b3f0b500e,3,Teacher-Led,Making Higher Level Math More Accessible With ...,"My many mathematicians range greatly in age, f...","My many mathematicians range greatly in age, f...",My students need TI-84 Graphing Plus calculato...,Math & Science,Mathematics,Grades 9-12,Instructional Technology,1459.64,2018-05-01,2018-09-01,Fully Funded,2018-05-07
1109921,c37ea4a7eee610ee3d54151b034e1a2f,3fe243deb43ee0bed1eaf6b877e9275d,83b134d2ab34a5eb4924e4dc2ad6d3e6,4,Teacher-Led,Our Classroom is Digital for ALL Students!,My students are part of a Title one school wit...,My students are part of a Title one school wit...,My students need to go 1 to 1 digital. Our sch...,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Grades PreK-2,Computers & Tablets,1233.86,2018-05-01,2018-08-19,Live,NaN
1109923,22d5ad976eabb48c7dd8112c5781ecb4,354b2ce755118a29dac1b6f6bb584c88,c098133bdc9aba20cf9b06f5f4312ac3,1,Teacher-Led,Save the Trees - Go Digital,"My students are high achieving, curious, and c...","My students are high achieving, curious, and c...",My students need chromebooks dedicated to my c...,Math & Science,"Environmental Science, Mathematics",Grades 9-12,Computers & Tablets,1268.58,2018-05-01,2018-08-30,Live,NaN
1109927,52a8464b8f68012cccda5ee4c7db15ce,348ab56c4bbb471c50a894e34700f7c2,89ae069b8a164142ace75e3604ffa051,3,Teacher-Led,Our Food Pantry,How can we close the achievement gap when stud...,How can we close the achievement gap when stud...,My students need snack food and possible meal ...,"Warmth, Care & Hunger","Warmth, Care & Hunger",Grades 3-5,"Food, Clothing & Hygiene",1181.84,2018-05-01,2018-08-30,Fully Funded,2018-05-08
1109928,d7ccca99ee33af34591f8969806e3552,d931bf2d3d2b788750462bda262c90bf,eaac78bda2096853f4a0d1bb6e4430e5,2,Teacher-Led,Drum To The Beat of Our Hearts,"Currently, my students use xylophones and non...","Currently, my students use xylophones and non-...",My students need a class set of tubanos for dr...,Music & The Arts,"Music, Performing Arts",Grades 3-5,Musical Instruments,2326.14,2018-05-01,2018-09-01,Live,NaN
1109932,5a81c4dd7805b2f8686398c7d42fc2c7,e5252839be35b960720e2d1af476132a,0cf436b6ec8530b51da82c8bfdf1a6d9,18,Teacher-Led,Snacks and Organization for a Fantastic Classroom,Every day is a learning adventure in our class...,Every day is a learning adventure in our class...,"My students need copy paper, staples weatherti...","Applied Learning, Health & Sports","College & Career Prep, Nutrition Education",Grades 3-5,Classroom Basics,1066.56,2018-05-01,2018-09-01,Live,NaN
1109948,b8676d546de22626cc7cd1e356e68d94,7f0412c9ac3cea57048543879e4e6318,da1ca9a90a8b46442e7cd7fa93f71f5c,276,Teacher-Led,Build It Up,"""Teamwork is the ability to work together towa...","""Teamwork is the ability to work together towa...",My students need seven Erector Super Construct...,Math & Science,"Applied Sciences, Environmental Science",Grades 6-8,Educational Kits & Games,1247.32,2018-05-01,2018-08-30,Live,NaN
1109952,1b794c6487c39529037981e45b242ace,3b372b605a3be147ded643dd6ba2281b,c8df4b484be913e23eec3673723133db,6,Teacher-Led,Writing Journals Aids in Fostering Classroom M...,"It is very difficult to answer the question ""w...","It is very difficult to answer the question ""w...","My students need new, clean and inspirational ...",Literacy & Language,Literature & Writing,Grades 9-12,Books,1419.27,2018-05-01,2018-09-01,Live,NaN

In [30]:
proj_df['Project Subject Category Tree'].unique()

array(['Applied Learning', 'Applied Learning, Literacy & Language',
       'Literacy & Language', 'Special Needs',
       'Literacy & Language, History & Civics', 'Math & Science',
       'History & Civics, Math & Science',
       'Literacy & Language, Special Needs',
       'Applied Learning, Special Needs', 'Health & Sports, Special Needs',
       'Math & Science, Literacy & Language',
       'Literacy & Language, Math & Science',
       'Literacy & Language, Music & The Arts',
       'Math & Science, Special Needs', 'Health & Sports',
       'Music & The Arts', 'Math & Science, Applied Learning',
       'Literacy & Language, Applied Learning',
       'Applied Learning, Music & The Arts',
       'History & Civics, Literacy & Language',
       'Applied Learning, Math & Science',
       'Health & Sports, Math & Science',
       'Applied Learning, Health & Sports', 'History & Civics',
       'History & Civics, Music & The Arts',
       'Math & Science, History & Civics',
       'Math & Science, Music & The Arts',
       'Special Needs, Music & The Arts',
       'History & Civics, Applied Learning',
       'History & Civics, Special Needs',
       'Music & The Arts, Special Needs',
       'Literacy & Language, Health & Sports',
       'Math & Science, Health & Sports',
       'Health & Sports, Literacy & Language',
       'Applied Learning, History & Civics',
       'Music & The Arts, History & Civics',
       'Health & Sports, Applied Learning',
       'Music & The Arts, Applied Learning',
       'Health & Sports, Music & The Arts', nan,
       'Special Needs, Health & Sports',
       'History & Civics, Health & Sports',
       'Music & The Arts, Health & Sports',
       'Health & Sports, History & Civics',
       'Health & Sports, Warmth, Care & Hunger',
       'Special Needs, Warmth, Care & Hunger', 'Warmth, Care & Hunger',
       'Math & Science, Warmth, Care & Hunger',
       'Applied Learning, Warmth, Care & Hunger',
       'Literacy & Language, Warmth, Care & Hunger',
       'History & Civics, Warmth, Care & Hunger',
       'Music & The Arts, Warmth, Care & Hunger'], dtype=object)

In [31]:
proj_df['Project Grade Level Category'].unique()

array(['Grades PreK-2', 'Grades 3-5', 'Grades 9-12', 'Grades 6-8',
       'unknown'], dtype=object)

In [32]:
proj_df['Project Grade Level Category'].value_counts()

Grades PreK-2    432002
Grades 3-5       364257
Grades 6-8       181236
Grades 9-12      132469
unknown              53
Name: Project Grade Level Category, dtype: int64

In [33]:
proj_df['Project Subject Category Tree'].value_counts()

Literacy & Language                           250504
Math & Science                                172517
Literacy & Language, Math & Science           153967
Music & The Arts                               56828
Health & Sports                                48690
Applied Learning                               44992
Literacy & Language, Special Needs             41308
Special Needs                                  35555
Applied Learning, Literacy & Language          31144
Math & Science, Literacy & Language            27956
Literacy & Language, Music & The Arts          21175
History & Civics                               20546
Applied Learning, Special Needs                20478
Math & Science, Special Needs                  18712
History & Civics, Literacy & Language          18639
Math & Science, Music & The Arts               16890
Math & Science, Applied Learning               15407
Applied Learning, Math & Science               12962
Literacy & Language, History & Civics          12039
Applied Learning, Music & The Arts             10600
Warmth, Care & Hunger                          10295
Health & Sports, Special Needs                  9963
Math & Science, History & Civics                8021
Literacy & Language, Applied Learning           7721
Applied Learning, Health & Sports               6726
Health & Sports, Literacy & Language            4934
History & Civics, Math & Science                4867
History & Civics, Music & The Arts              4454
Math & Science, Health & Sports                 3663
Special Needs, Music & The Arts                 3284
Applied Learning, History & Civics              3262
History & Civics, Special Needs                 2348
Health & Sports, Applied Learning               1714
Music & The Arts, Special Needs                 1663
Health & Sports, Math & Science                 1636
Health & Sports, Music & The Arts               1399
Literacy & Language, Health & Sports             727
History & Civics, Applied Learning               611
Special Needs, Health & Sports                   422
Health & Sports, History & Civics                308
Music & The Arts, History & Civics               282
Music & The Arts, Health & Sports                217
Music & The Arts, Applied Learning               177
History & Civics, Health & Sports                164
Health & Sports, Warmth, Care & Hunger            64
Special Needs, Warmth, Care & Hunger              49
Literacy & Language, Warmth, Care & Hunger        36
Applied Learning, Warmth, Care & Hunger           35
Math & Science, Warmth, Care & Hunger             25
Music & The Arts, Warmth, Care & Hunger            7
History & Civics, Warmth, Care & Hunger            5
Name: Project Subject Category Tree, dtype: int64

# Extra Time
* `apply`
* string manipulation

## `apply` function

Allows arbitrary functions to create data.

In [34]:
# how many are `Literacy & Language`?
proj_df['Project Subject Category Tree'].value_counts()

Literacy & Language                           250504
Math & Science                                172517
Literacy & Language, Math & Science           153967
Music & The Arts                               56828
Health & Sports                                48690
Applied Learning                               44992
Literacy & Language, Special Needs             41308
Special Needs                                  35555
Applied Learning, Literacy & Language          31144
Math & Science, Literacy & Language            27956
Literacy & Language, Music & The Arts          21175
History & Civics                               20546
Applied Learning, Special Needs                20478
Math & Science, Special Needs                  18712
History & Civics, Literacy & Language          18639
Math & Science, Music & The Arts               16890
Math & Science, Applied Learning               15407
Applied Learning, Math & Science               12962
Literacy & Language, History & Civics          12039
Applied Learning, Music & The Arts             10600
Warmth, Care & Hunger                          10295
Health & Sports, Special Needs                  9963
Math & Science, History & Civics                8021
Literacy & Language, Applied Learning           7721
Applied Learning, Health & Sports               6726
Health & Sports, Literacy & Language            4934
History & Civics, Math & Science                4867
History & Civics, Music & The Arts              4454
Math & Science, Health & Sports                 3663
Special Needs, Music & The Arts                 3284
Applied Learning, History & Civics              3262
History & Civics, Special Needs                 2348
Health & Sports, Applied Learning               1714
Music & The Arts, Special Needs                 1663
Health & Sports, Math & Science                 1636
Health & Sports, Music & The Arts               1399
Literacy & Language, Health & Sports             727
History & Civics, Applied Learning               611
Special Needs, Health & Sports                   422
Health & Sports, History & Civics                308
Music & The Arts, History & Civics               282
Music & The Arts, Health & Sports                217
Music & The Arts, Applied Learning               177
History & Civics, Health & Sports                164
Health & Sports, Warmth, Care & Hunger            64
Special Needs, Warmth, Care & Hunger              49
Literacy & Language, Warmth, Care & Hunger        36
Applied Learning, Warmth, Care & Hunger           35
Math & Science, Warmth, Care & Hunger             25
Music & The Arts, Warmth, Care & Hunger            7
History & Civics, Warmth, Care & Hunger            5
Name: Project Subject Category Tree, dtype: int64

In [35]:
def has_literacy_and_language(x):
    if 'Literacy & Language' in x:
        return 1
    else:
        return 0
proj_df['Project Subject Category Tree'].apply(has_literacy_and_language)

TypeError: argument of type 'float' is not iterable

In [36]:
proj_df['Project Subject Category Tree'].value_counts(dropna=False)

Literacy & Language                           250504
Math & Science                                172517
Literacy & Language, Math & Science           153967
Music & The Arts                               56828
Health & Sports                                48690
Applied Learning                               44992
Literacy & Language, Special Needs             41308
Special Needs                                  35555
Applied Learning, Literacy & Language          31144
Math & Science, Literacy & Language            27956
Literacy & Language, Music & The Arts          21175
History & Civics                               20546
Applied Learning, Special Needs                20478
Math & Science, Special Needs                  18712
History & Civics, Literacy & Language          18639
Math & Science, Music & The Arts               16890
Math & Science, Applied Learning               15407
Applied Learning, Math & Science               12962
Literacy & Language, History & Civics          12039
Applied Learning, Music & The Arts             10600
Warmth, Care & Hunger                          10295
Health & Sports, Special Needs                  9963
Math & Science, History & Civics                8021
Literacy & Language, Applied Learning           7721
Applied Learning, Health & Sports               6726
Health & Sports, Literacy & Language            4934
History & Civics, Math & Science                4867
History & Civics, Music & The Arts              4454
Math & Science, Health & Sports                 3663
Special Needs, Music & The Arts                 3284
Applied Learning, History & Civics              3262
History & Civics, Special Needs                 2348
Health & Sports, Applied Learning               1714
Music & The Arts, Special Needs                 1663
Health & Sports, Math & Science                 1636
Health & Sports, Music & The Arts               1399
Literacy & Language, Health & Sports             727
History & Civics, Applied Learning               611
Special Needs, Health & Sports                   422
Health & Sports, History & Civics                308
Music & The Arts, History & Civics               282
Music & The Arts, Health & Sports                217
Music & The Arts, Applied Learning               177
History & Civics, Health & Sports                164
Health & Sports, Warmth, Care & Hunger            64
Special Needs, Warmth, Care & Hunger              49
Literacy & Language, Warmth, Care & Hunger        36
Applied Learning, Warmth, Care & Hunger           35
NaN                                               29
Math & Science, Warmth, Care & Hunger             25
Music & The Arts, Warmth, Care & Hunger            7
History & Civics, Warmth, Care & Hunger            5
Name: Project Subject Category Tree, dtype: int64

In [37]:
proj_df['Project Subject Category Tree'].fillna('').apply(has_literacy_and_language)

0          0
1          1
2          1
3          1
4          0
5          1
6          0
7          1
8          1
9          1
10         0
11         0
12         1
13         0
14         1
15         1
16         0
17         1
18         1
19         0
20         1
21         0
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
1109987    1
1109988    0
1109989    1
1109990    0
1109991    1
1109992    1
1109993    0
1109994    0
1109995    1
1109996    0
1109997    0
1109998    1
1109999    1
1110000    0
1110001    0
1110002    1
1110003    0
1110004    0
1110005    0
1110006    0
1110007    1
1110008    1
1110009    0
1110010    1
1110011    1
1110012    0
1110013    1
1110014    1
1110015    1
1110016    1
Name: Project Subject Category Tree, Length: 1110017, dtype: int64

In [38]:
proj_df['lit_and_lang'] = proj_df['Project Subject Category Tree'].fillna('').apply(has_literacy_and_language)
proj_df.lit_and_lang.sum()

570150

What is going on here? `apply` just passes an argument to the function. Here, we're passing in each item in the column/`series`.

What if we wanted a second argument?

In [39]:
def has_literacy_and_language(x, name='Literacy & Language'):
    if name in x:
        return 1
    else:
        return 0
proj_df['math_science'] =proj_df['Project Subject Category Tree'].fillna('').apply(lambda x: has_literacy_and_language(x, 'Math & Science'))
proj_df.math_science.sum()

436623

In [40]:
proj_df['math_science'] =proj_df['Project Subject Category Tree'].fillna('').apply(
    lambda x: 1 if 'Math & Science' in x else 0
)
proj_df.math_science.sum()

436623

### Entire Row (or column)

* axis=1 : row
* axis=0 : column

In [41]:
proj_df.apply(lambda r: 1 if r.math_science and r.lit_and_lang else 0, axis=1).sum()

181923

## String Manipulation

Manipulate strings within a Series: https://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

In [42]:
proj_df['Project Need Statement']

0          My students need 25 copies of "Bullying in Sch...
1          My students need a listening center, read alon...
2          My students need beginning vocabulary audio ca...
3          My students need one copy of each book in The ...
4          My students need items such as Velcro, two pou...
5          My students need 24 subscriptions to Time for ...
6          My students need additional funding to finance...
7          My students need a class set of high interest,...
8          My students need four grammar match-up games a...
9          My students need tag readers to use during ind...
10         My students need resources to combat bullying ...
11         My students need hands-on math materials to us...
12         My students need a new rug for the library are...
13         My students need a pencil sharpener, 12 packs ...
14         My students need 2 Kindle readers and protecti...
15         My students need a class set of iPod Shuffles ...
16         My students need kid friendly ways of explorin...
17         My students need an interactive white board fo...
18                                My students need an easel.
19         My students need exercise balls to sit on whil...
20         My students need live painted lady butterflies...
21         My students need five TI-83 Plus Graphing Calc...
22                          My students need assorted eBooks
23         My students need an iPad and case to aid in sm...
24         My students need 20+ new books to read during ...
25         My students need 50+ books including Bullying ...
26                      My students need a laptop computer.
27         My students need privacy folders and organizer...
28         My students need Epson Glossy Photo Paper and ...
29         My students need materials that are unique to ...
                                 ...
1109987    My students need a large rug, storage shelves,...
1109988    My students need six acoustic guitars so we ca...
1109989    My students need privacy shields to take exams...
1109990    My students need microphones and a tripod in o...
1109991    My students need picture books and graphic nov...
1109992    My students need headphones to be able to focu...
1109993    My students need varsity sports uniform shirts...
1109994    My students need cards, envelopes, cardstock, ...
1109995    My students need a class set of the novel Wond...
1109996    My students need the flipchart/easel to displa...
1109997    My students need a refill of stock on our most...
1109998    My students need headphones in order to use th...
1109999    My students need alternative seating options l...
1110000    My students need basic baseball supplies (glov...
1110001    My students need equipment to properly train a...
1110002    My students need flexible seating, since we re...
1110003    My students need a a Botley robot to make lear...
1110004    My students need Carolina STEM Challenge: Sola...
1110005    My students need new team jerseys for the upco...
1110006    My students need rhythm instruments to help wi...
1110007    My students need technology in their hands, so...
1110008    My students need read aloud books to support o...
1110009    I need 7 Habits of Happy Kids and Leader in Me...
1110010    My students need Time for Kids and DynaMath ma...
1110011    My students need challenging books to read in ...
1110012    My students need the printer's Edge Aluminum S...
1110013    My students need new flexible seating options ...
1110014    My students need must have instruction across ...
1110015    My students need materials that motivate them ...
1110016    My students need an Apple iPad Mini 4 tablet a...
Name: Project Need Statement, Length: 1110017, dtype: object

`My students` vs `I need`?

In [43]:
proj_df['Project Need Statement'].str.startswith('My students').value_counts()

True     1090596
False      19418
Name: Project Need Statement, dtype: int64

In [44]:
proj_df['Project Need Statement'].str.startswith('I need').value_counts()

False    1103213
True        6801
Name: Project Need Statement, dtype: int64

## Categorical

In [45]:
proj_df['proj_type'] = proj_df['Project Type'].astype('category')
pd.concat((proj_df['proj_type'], proj_df['proj_type'].cat.codes), axis=1)

                        proj_type  0
0                     Teacher-Led  2
1                     Teacher-Led  2
2                     Teacher-Led  2
3                     Teacher-Led  2
4                     Teacher-Led  2
5                     Teacher-Led  2
6                     Teacher-Led  2
7                     Teacher-Led  2
8                     Teacher-Led  2
9                     Teacher-Led  2
10                    Teacher-Led  2
11                    Teacher-Led  2
12                    Teacher-Led  2
13                    Teacher-Led  2
14                    Teacher-Led  2
15                    Teacher-Led  2
16                    Teacher-Led  2
17                    Teacher-Led  2
18                    Teacher-Led  2
19                    Teacher-Led  2
20                    Teacher-Led  2
21                    Teacher-Led  2
22                    Teacher-Led  2
23                    Teacher-Led  2
24                    Teacher-Led  2
25                    Teacher-Led  2
26                    Teacher-Led  2
27                    Teacher-Led  2
28                    Teacher-Led  2
29                    Teacher-Led  2
...                           ... ..
1109987               Teacher-Led  2
1109988               Teacher-Led  2
1109989               Teacher-Led  2
1109990               Teacher-Led  2
1109991               Teacher-Led  2
1109992               Teacher-Led  2
1109993               Teacher-Led  2
1109994               Teacher-Led  2
1109995               Teacher-Led  2
1109996               Teacher-Led  2
1109997               Teacher-Led  2
1109998               Teacher-Led  2
1109999               Teacher-Led  2
1110000               Teacher-Led  2
1110001               Teacher-Led  2
1110002               Teacher-Led  2
1110003               Teacher-Led  2
1110004               Teacher-Led  2
1110005               Teacher-Led  2
1110006               Teacher-Led  2
1110007               Teacher-Led  2
1110008               Teacher-Led  2
1110009  Professional Development  0
1110010               Teacher-Led  2
1110011               Teacher-Led  2
1110012               Teacher-Led  2
1110013               Teacher-Led  2
1110014               Teacher-Led  2
1110015               Teacher-Led  2
1110016               Teacher-Led  2

[1110017 rows x 2 columns]